.activation-wrapper{
    font-size: large;
    border: solid rgb(251, 253, 255) 1px;
    color: white;
    border-radius: 5px;
    padding: 10px;
    position:absolute;
    width: 250px;
    left:0;
    right:0;
    margin:0 auto;
    top: 50%;
    transform: translate(0, -50%);    
}

.activation-code-wrapper{
    border: solid rgb(251, 253, 255) 1px;
    border-radius: 5px;
    padding: 7px;
    display: grid;
    grid-template-columns: 15fr 100px;
    grid-gap: 5px;
}

.activation-button-wrapper{
    border: solid rgb(251, 253, 255) 1px;
    border-radius: 5px;
    padding: 7px;
    display: grid;
    height: 25px;
    margin-top: 7px;
    grid-template-columns: 3fr 5fr;
    grid-gap: 5px;
}