# .env.local — не коммитить в git (добавьте в .gitignore)

# Базовый URL API (без /eList — он уже в basePath у swagger)
#VITE_API_BASE_URL=http://92.118.113.6:35028/eList

# Установите в "true" чтобы использовать мок-данные без бэкенда
VITE_USE_MOCK=false

# Ключ Яндекс.Карт — получить на developer.tech.yandex.ru
# Нужны права: "JavaScript API и HTTP Геокодер"
VITE_YANDEX_MAPS_KEY=ea3f78ff-3c27-4101-a391-8c0a1d703833

#ключ для рекламы яндекс
VITE_YANDEX_AD_BLOCK_ID=R-A-1234567-1

# URL для API файлохранилища
#VITE_FILE_STORAGE_URL=http://92.118.113.6:35029/elist/filestorage