# .env.local — не коммитить в git (добавьте в .gitignore)

# Базовый URL API (без /eList — он уже в basePath у swagger)
VITE_API_BASE_URL=https://localhost:7020/eList

# Установите в "true" чтобы использовать мок-данные без бэкенда
VITE_USE_MOCK=false
