# .env.local — не коммитить в git (добавьте в .gitignore)

# Базовый URL API (без /eList — он уже в basePath у swagger)
VITE_API_BASE_URL=http://92.118.113.6:35028/eList

# Установите в "true" чтобы использовать мок-данные без бэкенда
VITE_USE_MOCK=false
