.field {
  width: 100%;
  min-height: 20px;
  display: flex;
  align-items: center;
  padding: 7px 0;
}

.input {
  width: 100%;
  font-family: inherit;
  line-height: 1.4;
  letter-spacing: 0.02em;
  white-space: pre;
  border: none;
  outline: none;
  box-shadow: none;
  background: transparent;
  color: var(--text-primary);
  cursor: text;
  user-select: text;
  -webkit-user-select: text;
  font-size: 16px; /* предотвращает зум на iOS */
}

.input:focus,
.input:focus-visible {
  outline: none;
  box-shadow: none;
  border: none;
}
