.content_wrapper {
    font-size: large;
    margin: 10px, 50px, 100px 100px;
    // border: solid rgb(251, 253, 255) 1px;
    color: white;
    border-radius: 5px;
    padding: 10px, 50px, 10px, 50px;
    grid-area: c;
}

