.types_selector_wrapper{
    border: solid rgb(251, 253, 255) 1px;
    color: white;
    border-radius: 5px;    
    display: flex;
}


.categories_wrapper{
    border: solid rgb(251, 253, 255) 1px;
    color: white;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
}

.types_wrapper{
    border: solid rgb(251, 253, 255) 1px;
    color: white;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
}