.header {
    font-size: large;
    border: solid rgb(251, 253, 255) 1px;
    color: white;
    border-radius: 5px;
    padding: 10px;
    grid-area: h;

    align-items: center;
    display: flex;
    grid-template-columns: 200px 10fr;
    justify-content: space-between;
}

.logo2 {
    height: 100%;
}

.account_ico {
    grid-column: 1;
    width: 36px;
    border-radius: 18px;
}

.header_buttons{
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.divider{
    border: solid rgb(251, 253, 255) 1px;
}