.ico_btn{
    width: 64px;
    height: 64px;
    align-content: center;
    display: flex;
    flex-direction: row;
    border: solid rgb(251, 253, 255) 1px;
    color: white;
    border-radius: 5px;
    padding: 10px;
    font-size: small;
}